
body {
    margin: 0;
    padding: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1758%26quot%3b)' fill='none'%3e%3crect width='1366' height='768' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1759%26quot%3b)'%3e%3c/rect%3e%3cpath d='M305.3 912.78C444.93 883.34 499.67 524.63 719.69 520.21 939.7 515.79 926.88 616.21 1134.07 616.21 1341.27 616.21 1442.12 520.83 1548.46 520.21' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M169.65 801.7C314.32 771.05 370.48 399.12 598.58 394.36 826.68 389.6 813.04 490.36 1027.5 490.36 1241.97 490.36 1346.55 394.94 1456.43 394.36' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M272.02 897.98C476.67 868.09 590.06 385.22 920.31 384.04 1250.57 382.86 1393.95 640.32 1568.61 645.16' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M451.19 877.02C551.54 867.26 497.8 674.33 787.59 654.56 1077.39 634.79 1270.71 311.8 1460.4 301.28' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M505.4 799.9C694.92 755.49 771.77 251.46 1055.87 249.23 1339.97 247 1453.35 510.98 1606.34 518.03' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1758'%3e%3crect width='1366' height='768' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.47%25' x2='89.06%25' y2='119.47%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1759'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.26'%3e%3c/stop%3e%3cstop stop-color='rgba(158%2c 1%2c 0%2c 1)' offset='0.98'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.title-container {
    height: 100px;
    padding: 20px;
    color: #c5001a;
    text-align: center;
}

.title-container h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 0%;
    text-shadow: 5px 5px 10px black;
    position: relative;
    top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

textarea {
    width: 60%;
    height: 150px;
    border: 5px solid #a239ca;
    border-radius: 10px;
    margin: 30px 30px 35px 30px;
    opacity: 0.3;
    color: #00246b;
    position: relative;
    left: 15%;
    font-size: 20px;
    box-shadow: 0px 0px 10px 5px black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#tap-to-speak-button{
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    opacity: 0.5;
    color: #002c54;
    position: relative;
    left: 45%;
    cursor: pointer;
    transition: 0.4s;
}

#tap-to-speak-button:hover{
    background-color: red;
    box-shadow: 0px 0px 5px red, 0px 0px 25px red, 0px 0px 50px red, 0px 0px 100px red, 0px 0px 200px red;
}

textarea:focus{
    outline: none;
}